.room-details-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px 90px 10px;
  padding: 20px;
}

.room-details-image {
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.room-details-info {
  text-align: center;
  margin-bottom: 20px;
}

.room-details-info p {
  margin: 5px 0;
  line-height: 1.5;
}
.total-price p {
  margin: 5px 0;
  line-height: 1.5;
  text-align: center;
}

.booking-info {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.booking-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 200px;
}

.book-now-button,
.go-back-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  width: 120px;
}

.book-now-button:hover,
.go-back-button:hover {
  background-color: var(--accent-color);
}

.room-details-image {
  width: 400px;
  height: auto;
}

.room-details-info {
  margin-top: 20px;
}

.booking-list {
  list-style-type: none;
  padding: 0;
}

.booking-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.booking-number {
  font-weight: bold;
  color: var(--text-color);
}

.booking-text {
  font-style: italic;
  color: var(--text-color);
}

.date-picker-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.detail-search-field {
  width: 100% !important;
  padding: 12px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirm-booking {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.guest-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.guest-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.guest-div label {
  font-weight: 500;
  color: var(--text-color);
}

.guest-div input[type="number"] {
  width: 100px;
  padding: 8px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  text-align: center;
}

.confirm-booking {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-booking:hover {
  background-color: var(--accent-color);
}

.booking-success-message {
  text-align: center;
  color: var(--success-color);
  font-weight: 800;
  font-size: 16px;
}
