.admin-page {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.welcome-message {
  font-size: 2em;
  color: var(--text-color);
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--primary-color);
}

.admin-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .admin-actions {
    flex-direction: column;
    gap: 10px;
  }
}
