.all-users {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.all-users h3 {
  color: var(--text-color-light);
  font-weight: 400;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
  width: 100%;
}

.user-item {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-info h3 {
  margin: 0;
  color: var(--primary-color);
}

.user-info p {
  margin: 0;
  color: var(--text-color);
}
