.pagination-nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pagination-ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.pagination-li {
  margin: 0 5px;
}

.pagination-button {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.current-page {
  background-color: var(--primary-color);
  color: var(--background-color);
}
